
@media screen {
    
}

.invoice__container>*{
    margin-bottom: 2rem;
}

.rights{
    font-size: small;
    text-align: center;
    margin: 1rem;
}


.invoice-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
}

.invoice-table th,
.invoice-table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.invoice-table thead {
  border-bottom: 2px solid #000;
}

.invoice-table .alt {
  background-color: #f2f2f2; /* Light grey for alternating row */
}
