
.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  
    &__step {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f1f1f1;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      transition: background-color 0.3s ease;
  
      &.active {
        background-color: #3a4454;
  
        .breadcrumb__icon {
          color: #fff;
        }
      }
    }
  
    &__icon {
      font-size: 1.5rem;
      color: #3a4454;
    }
  
    &__line {
      width: 4rem;
      height: 0.4rem;
      background-color: #f1f1f1;
      margin: 0 0.5rem;
      border-radius: 2px;
    }
  
    .active + .breadcrumb__line {
      background-color: #3a4454;
    }
  }
