.menu nav, .menu ul, .menu li,.menu a{
    background-color: black;
color: white;
display: flex;
justify-content: space-around;
ul{
max-width:31.25rem;
width: 31.25rem;

li{
    display: flex;
  
  
    
}
}
 text-decoration: none;
    color: white;
}