@use '/src/pages/ContactPage/contact.scss';
@use '/src/global-styling/colors' as col;

.form__checkbox{
 gap: 1rem;
  input[type="checkbox"] {
    background: #F4F4F2;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    outline: none;
  }
 
}

